syntax: glob
build
*.swp
*.pbxuser
*.perspective
xcuserdata

*~.nib

*.DS_Store

.DS_Store

EarlyWorm/Test/EarlyWorm2.ipa

EarlyWorm/Resources/Resources/

EarlyWorm/Kernel/Model/mogenerator/_EWTaskItem.m

EarlyWorm/Kernel/Model/mogenerator/_EWPerson.m

EarlyWorm/Kernel/Model/mogenerator/_EWMessage.m

EarlyWorm/Kernel/Model/mogenerator/_EWMediaItem.m

EarlyWorm/Kernel/Model/._EWPerson.h

EarlyWorm/Kernel/Model/mogenerator/EWAchievement.m

EarlyWorm/Kernel/Model/mogenerator/EWAlarmItem.h

EarlyWorm/Kernel/Model/mogenerator/EWAlarmItem.m

EarlyWorm/Kernel/Model/mogenerator/EWGroup.h

EarlyWorm/Kernel/Model/mogenerator/EWGroup.m

EarlyWorm/Kernel/Model/mogenerator/EWGroupTask.h

EarlyWorm/Kernel/Model/mogenerator/EWGroupTask.m

EarlyWorm/Kernel/Model/mogenerator/EWMediaItem.h

EarlyWorm/Kernel/Model/mogenerator/EWMediaItem.m

EarlyWorm/Kernel/Model/mogenerator/EWMessage.h

EarlyWorm/Kernel/Model/mogenerator/EWMessage.m

EarlyWorm/Kernel/Model/mogenerator/EWPerson.h

EarlyWorm/Kernel/Model/mogenerator/EWPerson.m

EarlyWorm/Kernel/Model/mogenerator/EWTaskItem.h

EarlyWorm/Kernel/Model/mogenerator/EWTaskItem.m

EarlyWorm/Kernel/Model/mogenerator/_EWAchievement.m

EarlyWorm/Kernel/Model/mogenerator/_EWAlarmItem.m

EarlyWorm/Kernel/Model/mogenerator/_EWGroup.m

EarlyWorm/Kernel/Model/mogenerator/_EWGroupTask.m

EarlyWorm/Kernel/Model/mogenerator/EWAchievement.h

EarlyWorm/Kernel/Model/mogenerator/EWAchievement.h
